# EUSTE, JOHN LAWRENCE

### **Exercise 1:**
The Recamán sequence is a famous sequence invented by the Colombian mathematician, Bernardo Recamán Santos. It is defined by the following algorithm, starting at $a_0=0$:

$ a_n=a_{n-1}−n$ if $a_{n-1}-n > 0  $ and has not already appeared in the sequence; 

$ a_n=a_{n−1}+n$ otherwise

Write a function that returns the first N elements of this sequence.

In [1]:
import numpy as np

In [2]:
def recaman(n):
    rec_list = [0]
    
    for i in range(1,n):
        a_nm = rec_list[i-1] - i
        if (a_nm > 0) and not(a_nm in rec_list[:i]):
            rec_list.append(a_nm)
        else:
            rec_list.append(rec_list[i-1] + i)
    
    return rec_list

In [3]:
# try for n = 10
recaman(10)

[0, 1, 3, 6, 2, 7, 13, 20, 12, 21]

### **Exercise 2:**
Write a function to solve a quadratic equation.

In [4]:
def quad_solve(a,b,c):
    '''
    ax^2 + bx + c = 0
    x = [-b +- sqrt(b^2 - 4ac)]/ 2a
    '''
    
    x_p = (-b + np.sqrt(b**2 - 4.*a*c)) / (2.*a)
    x_m = (-b - np.sqrt(b**2 - 4.*a*c)) / (2.*a)
    
    return x_p,x_m

In [5]:
# try for x^2 - 4 = 0
quad_solve(1,0,-4)

(2.0, -2.0)

### **Exercise 3**
Print the list `mylist` sorted in descending order. The original list should not be modified

In [6]:
mylist=[1,-99,89,0,234,77,-748,11]

In [7]:
sort_mylist = mylist.copy()
for i in range(len(mylist)):
    for j in range(i+1,len(mylist)):
        if (sort_mylist[j]>sort_mylist[i]):
            a = sort_mylist[i]
            sort_mylist[i] = sort_mylist[j]
            sort_mylist[j] = a
print(sort_mylist)

[234, 89, 77, 11, 1, 0, -99, -748]

In [8]:
print(sorted(mylist)[::-1]) #alternative way using sorted function

[234, 89, 77, 11, 1, 0, -99, -748]

In [9]:
print(mylist) # to show that this is unchanged

[1, -99, 89, 0, 234, 77, -748, 11]

### **Exercise 4:**
Given 2 lists, produce a list containing common items between the two.

In [10]:
def common(list1,list2):
    return [_ for _ in list1 if _ in list2]

In [11]:
# try for two arbitrary lists
list1 = [1,2,3,4,5,6]
list2 = [7,8,1,9,2,10,11]

print(common(list1,list2))

[1, 2]

### **Exercise 5:**
Create a function that returns a list of all pairs of factors (as tuples) of a given number using list comprehension.

In [12]:
def factors(num):
    all_factors = [_ for _ in range(1,num+1) if num%_==0] # list of all integer factors
    factors_list = []
    for i in range(len(all_factors)//2):
        factors_list.append( (all_factors[i],all_factors[-(i+1)]) )
    return factors_list

In [13]:
# try for 24 and 35
print(factors(24))
print(factors(35))

[(1, 24), (2, 12), (3, 8), (4, 6)]
[(1, 35), (5, 7)]

### **Exercise 6:**
Create a list of all numbers divisible by 3 and smaller than 1000 in 4 different ways:
 
 - naive way where you just create a list and append data in a loop
 - using list comprehension
 - slicing an existing list
 - directly with `range()`

Time all of them.

**Way 1**
 - naive way where you just create a list and append data in a loop

In [14]:
def naive_way(num=3,lim=1000):
    div_num = []
    for i in range(1,lim):
        if (i%3 == 0): div_num.append(i)
    return div_num

In [15]:
print(naive_way(3,1000))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [16]:
%timeit naive_way()

56.5 µs ± 206 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

**Way 2**
- using list comprehension

In [17]:
print([_ for _ in range(1,1000) if _%3==0])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [18]:
%timeit [_ for _ in range(1,1000) if _%3==0]

47.7 µs ± 582 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

**Way 3**
 - slicing an existing list

In [19]:
existing_list = list(range(1000))

In [20]:
print(existing_list[3::3])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [21]:
%timeit existing_list[3::3]

585 ns ± 1.97 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

**Way 4**
 - directly with `range()`

In [22]:
print(list(range(3,1000,3)))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [23]:
%timeit list(range(3,1000,3))

2.48 µs ± 10.8 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

It seems that slicing an existing list is the fastest (excluding the time it takes to create the existing list) since we just have to slice. The next fastest is by directly using the range function with step increments of 3.

### **Exercise 7:**
Write a function to check if a string (containing spaces and capital letters, but no punctuation marks) is a palindrome (use help to see which functions are available for a string).

In [24]:
def check_palindrome(str_pal):
    return str_pal.replace(' ','').lower()[::-1] == str_pal.replace(' ','').lower() # ignore spaces and capitalization

In [25]:
#try for non-palindrome
print(check_palindrome('qwertyuiop'))

False

In [26]:
#try for palindrome
print(check_palindrome('racecar'))

True

In [27]:
#try for palindrome but with spaces and capital letters
print(check_palindrome('Do geese see God'))

True

### **Exercise 8:**
Write a function to find a character with a maximum number of occurences in a string. Return a tuple with that character and the number. You can ignore ties. Only use string's inbuilt functions and the function `max` (use help to see how to use it).

In [28]:
def max_occ(str_max):
    count_occ = [len([_ for _ in str_max if _==i]) for i in set(str_max)] # count of occurences of characters in str_max
    i = count_occ.index(max(count_occ)) # find index of max count
    return (list(set(str_max))[i],count_occ[i])

In [29]:
# try for some random string
str_max = 'fdtredwtgrdddrfesdd'
print(max_occ(str_max))

('d', 7)

### **Exercise 9:**
Write a function that return the first N prime numbers using the Sieve of Eratosphenes algorithm

https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes

#### From wiki
- Create a list of consecutive integers from 2 through n: (2, 3, 4, ..., n).
- Initially, let p equal 2, the smallest prime number.
- Enumerate the multiples of p by counting in increments of p from 2p to n, and mark them in the list (these will be 2p, 3p, 4p, ...; the p itself should not be marked).
- Find the smallest number in the list greater than p that is not marked. If there was no such number, stop. Otherwise, let p now equal this new number (which is the next prime), and repeat from step 3.
- When the algorithm terminates, the numbers remaining not marked in the list are all the primes below n.

In [90]:
def prime_sieve(n):
    arr1 = [_ for _ in range(2,n+1)]

    a = [True for _ in range(2,n+1)]
    for i in range(2,int(n**(1./2))+1):
        if a[i-2]:
            j = 0
            while ((i**2 + j*i) <= n):
                a[i**2 + j*i - 2] = False
                j+=1

    return [arr1[i] for i in range(n-1) if a[i]]

In [92]:
prime_sieve(67)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]